.menu {
  background-color: #D5B0AC;
  text-align: center;
  margin-bottom: 10px;
}

.menu span {
  color: #402E2A;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  line-height: 30px;
  position: relative;
}

.menu span:hover,
.menu .submenu span:hover {
  background-color: #9CD08F;
  color: #FFFFFF;
  cursor: pointer;
}

.menu .submenu {
  display: none;
  position: absolute;
  background-color: #D5B0AC;
}

.submenu .submenu{
  display: none;
  position: absolute;
  left: 100%
}

.menu span:hover >.submenu {
  display: block;
}

.submenu span:hover >.submenu{
  display: inline-block;
}
